.box {
    margin-top: 3.7vw;
    @media only screen and (max-width: 576px) {
        margin-top: 2vw;
    }
    &__text {
        text-align: justify;
        .box__content {
            width: 40vw;
            text-align: justify;
            @media only screen and (max-width: 576px) {
                width: auto;
            }
        }
    }
}