@import "_variables.scss";

header {
    width: 100%;
    .topbar {
        height: 6vw;
        @media only screen and (max-width: 768px) {
            height: 8vw;
        }
        @media only screen and (max-width: 576px) {
            height: 11vw;
        }
        .wrapper {
             position: relative;
             transition: 2s;
        }
    }
    .bottombar {
        background-color: $violet;
        color: $white;
        height: 7.5vw;
        line-height: 7.5vw;
        @media only screen and (max-width: 576px) {
            height: calc(100% / 2);
            line-height: calc(100% / 2);
        }
        &__pageTitle {
            @media only screen and (max-width: 576px) {
                text-align: center;
            }
        }
    }
}