header {
    width: 100%;
    
    .topbar {
        width: 100%;
        display: flex;
        justify-content: center;
        &__icon,
        &__nav {
            width: 50vw;
        }
        &__nav {
            @media only screen and (max-width: 576px) {

            }            
        }

    }
}

