@import "_variables.scss";

header {
    width: 100%;
    .topbar {
        position: relative;
    }
    .bottombar {
        background-color: $violet;
        color: $white;
        height: 7.5vw;
        line-height: 7.5vw;
        &__pageTitle {
            @media only screen and (max-width: 576px) {

            }
        }
    }
}

