@import "_variables.scss";

header {
    width: 100%;
    .topbar {
        height: 6vw;
        @media only screen and (max-width: 768px) {
            height: 8vw;
        }
        @media only screen and (max-width: 576px) {
            height: 11vw;
        }
        .menuWrapper {
            width: 50%;
            transition: visibility 2s, opacity 2s;
            @media only screen and (min-width: 768px) {
                display: flex;
                justify-content: flex-end;
              }
            @media only screen and (max-width: 768px) {
                width: 100%;
            }
        }
    }
    .bottombar {
        background-color: $violet;
        color: $white;
        height:  $bottombar;
        line-height:  $bottombar;
        @media only screen and (max-width: 576px) {
            height: calc(100% / 2);
        }
        &__pageTitle {
            padding-left: 8vw;
            @media only screen and (max-width: 576px) {
                text-align: center;
            }
        }

    }
}