header {
    width: 100%;
    .topbar {
        position: relative;
    }
    .bottombar {
        &__pageTitle {
            @media only screen and (max-width: 576px) {
                display: none;
            }
        }
        &__breadcramb {
            @media only screen and (max-width: 576px) {
                
            }
        }
    }
}

