.picture {
    display: flex;
    justify-content: flex-end;
    &__img {
        height: 23vw;
        width: 40vw;
        @media only screen and (max-width: 576px) {
            width: 100%;
            height: auto;
        }
    }
}