.picture {
    &__img {
        @media only screen and (max-width: 768px) {
            width: 30vw;
            height: 40vw;
        }
        @media only screen and (max-width: 576px) {
            width: 100%;
            height: auto;
        }
    }
}