.picture {
    display: flex;
    justify-content: flex-end;
    &__img {
        height: auto;
        width: 25vw;
        @media only screen and (max-width: 576px) {
            width: 100%;
        }
    }
}