.picture {
    &__img {
        height: auto;
        width: 25wv;
        justify-content: flex-end;
        display: flex;
        @media only screen and (max-width: 576px) {
            width: 100%;
            justify-content: center;
        }
    }
}