.picture {
    &__img {
        height: auto;
        @media only screen and (max-width: 768px) {
            width: 50vw;
        }
        @media only screen and (max-width: 576px) {
            width: 100%;
        }
    }
}