.logo {
    padding-left: 7vw;
    &__img {
        width: 9vw;
        height: 3vw;
        @media only screen and (max-width: 576px) {
            width: 20vw;
            height: 7vw;
        }
    }
}