.menu {
    &__hamburger {
        .hamburger {
            width: 2.5vw;
            height: 2.5vw;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            &__item {
                width: 100%;
                height: 21%;
                background-color: $black;
                border-radius: 15%;
            }
        }
    }
    &__item {
        text-transform: uppercase;
    }
}