@import "./variables.scss";

.menu {
  padding: 0;
  margin: 0;
  width: 100%;
  text-align: center;
  &__item {
    list-style: none;
    text-transform: uppercase;
    @media only screen and (max-width: 576px) {
      width: 100vw;
    }
  }
  &__label {
    &:hover {
      border-bottom: 1px solid ;
    }
  }  
  @media only screen and (max-width: 576px) {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 0;
    list-style-type: none;
    left: 0;
    right: 0;
    background-color: $white;
  }
}
