.menu {
    &__hamburger {
        .hamburger {
            width: 10vw;
            height: 10vw;
            display: flex;
            flex-direction: column;
            &__item {
                width: 100%;
                height: 5%;
                background-color: $black;
            }
        }
    }
    &__item {
        text-transform: uppercase;
    }
}