.menu {
  width: 100%;
  &__hamburger {
    .hamburger {
      width: 10vw;
      height: 10vw;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      float: right;
      &__item {
        width: 100%;
        height: 21%;
        background-color: $black;
        border-radius: 15%;
        
        @media only screen and (max-width: 576px) {
        }
      }
    }
  }
  &__item {
    text-transform: uppercase;
  }
}
