.menu {

  &__item {
    list-style: none;
    text-transform: uppercase;
    @media only screen and (max-width: 576px) {
      width: 100vw;
    }
  }
  @media only screen and (max-width: 576px) {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 20vw;
    list-style-type: none;
    left: 0;
    right: 0;
    background-color: $white;
  }
}
