.menu {
  &__item {
    text-transform: uppercase;
    @media only screen and (max-width: 576px) {
        width: 100vw;
    }
  }
  @media only screen and (max-width: 576px) {
      position: absolute;
      width: 100%;
      text-align: center;
      top: 20vw;
      list-style-type: none;
}
}

.hamburger {
    width: 10vw;
    height: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    float: right;
    &__item {
      width: 100%;
      height: 21%;
      background-color: $black;
      border-radius: 15%;
    }
  }
