@import "./variables.scss";

.menu {
  padding: 0;
  margin: 0;
  width: 100%;
  text-align: center;
  &__item {
    list-style: none;
    text-transform: uppercase;
    @media only screen and (max-width: 576px) {
      width: 100vw;
    }
  }
  &__label {
    @media only screen and (max-width: 576px) {
      line-height: 8vw;
    }
  }  
  @media only screen and (max-width: 576px) {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 0;
    list-style-type: none;
    left: 0;
    right: 0;
    background-color: $white;
  }
}

.breadcrumb {
  @media only screen and (max-width: 576px) {
    justify-content: center;
  }
  &__item {
    .label {
      color: $white;
      font-size: .98vw;
      &:hover {
        font-weight: bold;
      }
      @media only screen and (max-width: 768px) {
        font-size: 1.98vw;
      }
      @media only screen and (max-width: 576px) {
        font-size: 3vw;
      }
    }
  }
}