//fonts
$fontSmall_1: .8vw;
$fontSmallTablet_1: 3vw;
$fontSmall_1_mobile: 4vw;
$bigHeader: 2.3vw


//colors
$black: #000000;
$white: #ffffff;
$red: #ea623d;
$violet: #453951;

//padding
$normalLeft: 7vw;

//height
$bottombar: 7.5vw;