@import "./variables.scss";

a {
    text-decoration: none;
    color: $black;
    cursor: pointer;
    &:hover {
        color: $black;
    }
}

.font {
    font-size: $fontSmall_1;
    @media only screen and (max-width: 768px) {
        font-size: $fontSmallTablet_1;
    }
    @media only screen and (max-width: 576px) {
        font-size: $fontSmall_1_mobile;
    }
    
}