@import "./variables.scss";

a {
    text-decoration: none;
    color: $black;
    cursor: pointer;
    &:hover {
        color: $black;
    }
}

.font {
    font-size: $fontSmall_1;
    color: black;
    @media only screen and (max-width: 768px) {
        font-size: $fontSmallTablet_1;
    }
    @media only screen and (max-width: 576px) {
        font-size: $fontSmall_1_mobile;
    }
    
    &__big{
        line-height: $bottombar;
        font-size: 2.3vw;
        @media only screen and (max-width: 576px) {
            line-height: initial;
            font-size: 5vw;
        }
    }
    &--title {
        font-size: 2vw;
        @media only screen and (max-width: 576px) {
            font-size: 5vw;
            font-weight: bold;
            text-align: center;
        }
    }
    &--text {
        font-size: 3.5vw;
        text-align: justify;
    }
}

